<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.ProjectListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.DashboardTest"/>
      <class name="TestCases.ExternalContractsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
